[submodule "external/BehaviorTree.ROS2"]
	path = external/BehaviorTree.ROS2
	url = https://github.com/BehaviorTree/BehaviorTree.ROS2.git
[submodule "external/color_tools"]
	path = external/color_tools
	url = https://github.com/NASA-JSC-Robotics/color_tools.git
[submodule "external/dex_ivr_helpers"]
	path = external/dex_ivr_helpers
	url = git@js-er-code.jsc.nasa.gov:imetro/dex_ivr_helpers.git
